@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
  --background-gray: #eee;
  --white-color: #fff;
  --black-color: #000;
  --footer-color: #434343;
  --footer-text-color: #b7b7b7;
  --heading-color: #262626;
  --text-color: #262626;
  --main-color: #ED1756;
  --loading-color: #ED1756;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 200;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.--separate-top::after {
  background-color: var(--main-color);
  content: "";
  height: 4px;
  position: absolute;
  width: 200px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.--separate-bottom::after {
  background-color: var(--main-color);
  content: "";
  height: 4px;
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.--background-gray {
  background-color: var(--background-gray);
}


/* end common */
.component { 
  padding: 16px;
}

.component-heading {
  color: var(--heading-color);
  font-size: 2rem;
  font-weight: 300;
  padding: 8px 0;
  position: relative;
}

.component-content {
  color: var(--text-color);
  font-size: 1rem;
}

.download__content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.download__img {
  width: 100px;
  height: 100px;
}

.download__slogan {
  color: var(--white-color);
}

.download__button {
  border: 1px solid var(--white-color);
  border-radius: 4px;
  padding: 8px 20px;
}

.download__background {
  background: url('/img/download.jpg');
  height: 486px;
  background-size: cover;
  background-position: center;
}

.terms__content {
  text-align: justify;
}

footer {
  min-height: 224px;
  background-color: var(--footer-color);
}

.footer__copyright {
  color: var(--footer-text-color);
}

.footer__img {
  min-height: 60px;
}

.social {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.social__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.social__item {
  display: inline-block;
}

/* tablet */
@media screen and (max-width: 767px) {
  html {
    font-size: 15px;
  }

  .col-0 {
    display: none;
  }

  .accordion-button {
    padding: 1rem 0;
  }

  .social {
    display: none;
  }
}

/* mobile */ 
@media screen and (max-width: 575px) {
  html {
    font-size: 14px;
  }
}