<template>
  <footer class="d-flex flex-column justify-content-around py-4">
    <p class="footer__copyright text-center">
      © 2018 VTVcab & Viettel bảo lưu mọi quyền
    </p>
    <div class="row w-100 justify-content-center">
      <div
        class="footer__img d-flex align-items-center justify-content-center col-12 col-md-3 col-sm-6"
      >
        <a href="#"><img src="/img/viettel_logo.svg" alt="img" /></a>
      </div>
      <div
        class="footer__img d-flex align-items-center justify-content-center col-12 col-md-3 col-sm-6"
      >
        <a href="#"><img src="/img/vtvcab_icon.png" alt="img" /></a>
      </div>
      <div
        class="footer__img d-flex align-items-center justify-content-center col-12 col-md-3 col-sm-12"
      >
        <a href="#"><img src="/img/call_center.svg" alt="img" /></a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style>
</style>