<template>
  <div>
    <nav class="nav-pc">
      <label for="click-ckeck" class="nav__click">
        <i class="fas fa-bars"></i>
      </label>
      <a href="" class="Onme"
        ><img
          alt="Onme - Xem tivi miễn phí 3G/4G"
          src="http://onme.vn/images/onme_logo.svg"
      /></a>
      <div class="nav-bar-header">
        <input type="checkbox" id="click-ckeck" class="nav-input" hidden />
        <ul class="top-bar">
          <li class="active"><a href="/">Trang chủ</a></li>
          <li><a href="#service-packages">Gói cước</a></li>
          <li><a href="#FAQ">Câu hỏi thường gặp</a></li>
          <li><a href="#download">Tải ứng dụng</a></li>
        </ul>
      </div>
    </nav>
  </div>
</template>
