<template>
  <div class="social">
    <ul class="social__list">
      <li class="social__item"><a href="#"><img src="/img/support.png" alt="social img"></a></li>
      <li class="social__item"><a href="#"><img src="/img/facebook_icon.png" alt="social img"></a></li>
      <li class="social__item"><a href="#"><img src="/img/twitter_icon.png" alt="social img"></a></li>
      <li class="social__item"><a href="#"><img src="/img/google_icon.png" alt="social img"></a></li>
      <li class="social__item"><a href="#"><img src="/img/youtube_icon.png" alt="social img"></a></li>
    </ul>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>