<template>
  <div>
    <div
      id="service-packages"
      class="component service-packages --background-gray"
    >
      <h3 class="component-heading --separate-bottom text-center py-4">
        Các gói cước của dịch vụ Onme
      </h3>
      <p class="component-content text-center py-4">
        Tặng <strong>3GB</strong> truy cập ứng dụng <strong>ONME</strong> (thời
        gian sử dụng cùng chu kỳ gói chính) <br />
        khi đăng ký/ gia hạn/ khôi phục thành công 8 gói EcoDATA, Mimax70,
        Mimax90, Mimax125, Mimax200, Umax300, MimaxSV, OMG
      </p>
      <p class="component-content text-center py-4">
        Tặng <strong>1GB</strong> truy cập ứng dụng <strong>ONME</strong> (thời
        gian sử dụng 30 ngày) <br />
        Cho thuê bao Viettel chưa đăng ký trải nghiệm dịch vụ
        <strong>ONME</strong>. Soạn <strong>ONME</strong> gửi
        <strong>191</strong> hoặc tải ứng dụng tại:
        <strong>http://onme.vn/app</strong>
      </p>
    </div>

    <div id="FAQ" class="component FAQ">
      <h3 class="component-heading --separate-bottom text-center py-4">
        Câu hỏi thường gặp
      </h3>
      <div class="accordion accordion-flush" id="accordionFAQ">
        <AccordionItem
          v-for="(item, index) in questions"
          :key="index"
          :index="index"
          parentId="accordionFAQ"
        >
          <template #heading>
            <p>{{ item.question }}</p>
          </template>
          <template #content>
            <p>{{ item.answer }}</p>
          </template>
        </AccordionItem>
      </div>
    </div>

    <div id="download" class="component download position-relative px-0">
      <div class="download__background"></div>
      <div class="download__content position-absolute">
        <div>
          <div class="text-center mb-4">
            <img class="download__icon" src="/img/onme_app.svg" />
          </div>
          <div class="download__slogan text-center">
            Theo dõi các kênh truyền hình, phim truyện, sự kiện trực tiếp... mọi
            lúc, mọi nơi với ứng dụng Onme
          </div>
        </div>
        <div class="row w-100 d-flex justify-content-around">
          <div class="col-md-6 col-0 text-center">
            <a href="#"
              ><img class="download__button" src="/img/ios_app.svg"
            /></a>
          </div>
          <div class="col-md-6 col-12 text-center">
            <a href="#"
              ><img class="download__button" src="/img/android_app.svg"
            /></a>
          </div>
        </div>
      </div>
    </div>

    <div id="terms-of-use" class="component terms-of-use">
      <h3 class="component-heading --separate-bottom text-center py-4">
        Các điều khoản sử dụng
      </h3>
      <p class="component-content terms__content py-4">
        Bạn vui lòng đọc kỹ Điều khoản sử dụng ("Điều khoản") trước khi tiến
        hành cài đặt bất kỳ phần nào của ứng dụng Onme ("Ứng dụng") (bao gồm
        nhưng không giới hạn các phần mềm, các file và tài liệu liên quan) hoặc
        sử dụng các dịch vụ do Tập đoàn Viễn thông Quân đội cung cấp để kết nối
        đến Ứng dụng. Bạn chấp thuận và đồng ý bị ràng buộc bởi các quy định và
        điều kiện trong Điều khoản này khi thực hiện các thao tác trên đây.
        Trường hợp Bạn không đồng ý với bất kỳ điều khoản sử dụng nào của chúng
        tôi (phiên bản này và các phiên bản cập nhật), Bạn vui lòng không tải,
        cài đặt, sử dụng Ứng dụng hoặc tháo gỡ Ứng dụng ra khỏi thiết bị di động
        của bạn.
      </p>

      <div class="accordion accordion-flush" id="accordionTerms">
        <AccordionItem
          v-for="(item, index) in terms"
          :key="index"
          :index="index"
          parentId="accordionTerms"
        >
          <template #heading>
            <p>{{ index + 1 + ". " + item.term }}</p>
          </template>
          <template #content>
            <p>{{ item.content }}</p>
          </template>
        </AccordionItem>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  data() {
    return {
      questions: [
        {
          question: "Onme là gì?",
          answer:
            "Onme là ứng dụng xem truyền hình online chuyên về thể thao với hàng trăm chương trình trực tiếp/các VOD của các giải thể thao lớn Vô địch bóng đá Đức Bundesliga; Giải bóng đá vleague; Bóng đá Brazil; Giải ATP tennis world tour 500; Giải WTA Tennis...",
        },
        {
          question: "Onme cung cấp cho khách hàng những dịch vụ tiện ích gì?",
          answer: `Ứng dụng Onme là ứng dụng xem truyền hình trên di động với hàng trăm nghìn nội dung hấp dẫn, độc quyền, lần đầu tiên có tại Việt Nam`,
        },
        {
          question: "Onme hỗ trợ các thiết bị nào?",
          answer:
            "Onme hỗ trợ các thiết bị điện thoại, máy tính bảng chạy hệ điều hành Android 4.1 trở lên và điện thoại, máy tính bảng chạy hệ điều hành IOS 9.0 trở lên.",
        },
        {
          question:
            "Tôi quên mật khẩu tài khoản Onme. Làm thế nào để lấy lại mật khẩu?",
          answer:
            "Khi bạn quên mật khẩu khi đăng nhập, vui lòng chọn Quên mật khẩu và làm theo hướng dẫn.",
        },
      ],
      terms: [
        {
          term: "Quyền sở hữu Ứng dụng",
          content:
            "- Ứng dụng này được phát triển và sở hữu bởi Tập đoàn Viễn thông Quân đội, tất cả các quyền sở hữu trí tuệ liên quan đến Ứng dụng (bao gồm nhưng không giới hạn mã nguồn, hình ảnh, dữ liệu, thông tin, nội dung chứa đựng trong Ứng dụng; các sửa đổi bổ sung, cập nhật của Ứng dụng) và các tài liệu hướng dẫn liên quan (nếu có) sẽ thuộc quyền sở hữu duy nhất bởi Tập đoàn Viễn thông Quân đội và không cá nhân, tổ chức nào được phép sao chép, tái tạo, phân phối, hoặc hình thức khác xâm phạm tới quyền của chủ sở hữu nếu không có sự đồng ý và cho phép bằng văn bản của Tập đoàn Viễn thông Quân đội.",
        },
        {
          term: "Xử lý vi phạm",
          content:
            "- Trường hợp bạn vi phạm bất kỳ Quy định nào trong Thỏa thuận này, Tập đoàn Viễn thông Quân đội có quyền ngay lập tức khóa tài khoản của bạn và hoặc xóa bỏ toàn bộ các thông tin, nội dung vi phạm, đồng thời tùy thuộc vào tính chất, mức độ vi phạm bạn sẽ phải chịu trách nhiệm trước cơ quan có thẩm quyền, Tập đoàn Viễn thông Quân đội và bên thứ ba về mọi thiệt hại gây ra bởi hoặc xuất phát từ hành vi vi phạm của bạn.",
        },
        {
          term: "Quyền Truy cập và Thu thập thông tin",
          content:
            "- Khi sử dụng Ứng dụng, bạn thừa nhận rằng chúng tôi có quyền sử dụng những API hệ thống sau để truy cập vào dữ liệu trên điện thoại của bạn.",
        },
        {
          term: "Cam kết bảo mật thông tin",
          content:
            "- Chúng tôi cam kết giữ bí mật tất cả các thông tin mà bạn cung cấp cho Tập đoàn Viễn thông Quân đội hoặc thông tin chúng tôi thu thập được từ bạn và không tiết lộ với bất kỳ bên thứ ba nào trừ khi có yêu cầu từ Cơ quan Nhà nước có thẩm quyền.",
        },
      ],
    };
  },
};
</script>
